include *.rst
include LICENSE
include maykin_health_checks/py.typed
recursive-include maykin_health_checks *.html
recursive-include maykin_health_checks *.txt
recursive-include maykin_health_checks *.po
global-exclude __pycache__
global-exclude *.py[co]
